*{
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
}

#brand{
    font-family: 'Ubuntu', sans-serif !important;
}

body {
    margin: 20px;
}

#backgroundImg{
    background-color: black;
    background-size: cover;
    background-image: url(img/michael-aleo-qotowcQiRKc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.global-nav-mobile-wrapper {
    width: 100%;
}

